@import './../../style/color';

.context {
  position: relative;
  height: calc(90vh - 42px - 58px - 68.5px);
  color: $primary;
  div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
  }
}
